__pycache__/
build/
dist/
*.egg-info/
.pytest_cache/
*.pyc
*.py[cod]
.DS_Store

# pyenv
.python-version

# Environments
.env
.venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# JetBrains
.idea/

/coverage.xml
/.coverage


# Agentics
agentics.code-workspace
# Test reports
report.html

# IDE
.vscode

# local folders
__*__/
